{{> header}}

<body class="p-3 mb-1 bg-info"> 
 <center>  
<h2>{{viewTitle}}</h2>
<table class="table table-success table-sm table-bordered border-primary" style="width: 1000px; text-align:center;" > 
 
    <thead>

        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Direccion</th>
        <th>ciudad</th>
        <th>estado</th>
        <th>Codigo Postal</th>
        <th>Localizacion</th>
        <th></th>
    </thead>
    <tbody>
        {{#each list}}
            <tr>
                <td>{{this.patronid}}</td>
                <td>{{this.nombre}}</td>
                <td>{{this.apellido}}</td>
                <td>{{this.direccion}}</td>
                <td>{{this.ciudad}}</td>
                <td>{{this.estado}}</td>
                <td>{{this.codigoPostal}}</td>
                <td>{{this.localizacion}}</td>
                <td>
                    <button class="btn btn-warning" > <a href="/brand/{{this._id}}">Editar</a> </button>
                   <button class="btn btn-danger" > <a href="/brand/delete/{{this._id}}"
                    onclick="return confirm('Desea eliminar el registro?');">
                    Eliminar
                    </a></button>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
</center> 
</body>